<%- include('header') %>

<h2>🎓 Scholarships</h2>
<p>We provide need-based and merit-based scholarships to deserving students.</p>

<ul>
  <li>SC/ST/OBC Category Scholarships</li>
  <li>Merit Scholarships for top scorers</li>
  <li>Early Admission Discount</li>
</ul>

<%- include('footer') %>