<!DOCTYPE html>
<html>
<head>
  <title>Payment Successful</title>
</head>
<body>
  <h2>Payment Successful!</h2>
<p>Session: <%= payment.session_id %></p>
<p>Amount: ₹<%= payment.amount %></p>

</body>
</html>
